body {
    margin: 0;
}
.header {
    height: 130px;
    width: 100%;
    background-color: rosybrown;

}
.box {
    display: inline-block;
    background-color: silver;
    height: 95px;
    width: 89px;
    margin: 15px;
}
.main {
    padding: 35px;
    font-style: italic;
    height: 300px;
}
.collum-1 {
    height: 125px;
    width: 100%;
    background-color: rgb(97, 87, 231);
}
     .collum-2 {
        height: 125px;
        width: 100%;
        background-color: lightcoral;
    }
    .collum-3 {
        height: 125px;
        width: 100%;
        background-color: rgb(211, 205, 121);
    }
    .collum-4 {
            height: 125px;
            width: 100%;
            background-color: rgb(19, 146, 114);
    }